/** Add css rules here for your application. */


/* Formatting specific to the Climate application */
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* filter table header row */
.filterTableHeader {
  background-color: #2062B8
  color: white;
  font-style: italic;
}

/* filter table */
.filterTable {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

/* filter table columns */
.filterTableColumn {
  text-align: center;
  width:8em;
}


/* Add filter panel */
.addPanel {
  margin: 10px 0px 15px 0px;
}

/* Center the content of the application*/
.centered-wrapper {
    position: relative;
    text-align: center;
}

.centered-content {
    display: inline-block;
    vertical-align: middle;
}

.slider-values {
	display: block;
	color: blue;
	margin-left: 5px;
	margin-top: 5px;
}

.slider {
	margin: 10px 10px 10px 10px;
}