/** Add css rules here for your application. */


/* Formatting specific to the Climate application */
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url("background.png") !important;
}

/* table panel for all tables */
.tablePanel {
   background: url("white.png") !important;
}

/* map panel */
.mapPanel {
   background: url("white.png") !important;
}


/* filter table header row */
.filterTableHeader {
  background: url("white.png") !important;
  color: black;
  font-style: italic;
}

/* filter table */
.filterTable {
  background-color: #99AABB;
  padding: 2px;
  color: black;
  margin-bottom:6px;
  width: 100%;
}

/* filter table columns */
.filterTableColumn {
  text-align: center;
  width: 8em;
}


/* Add filter panel */
.addPanel {
  margin: 10px 0px 15px 0px;
}

/* Center the content of the application*/
.centered-wrapper {
    position: relative;
    text-align: center;
}

.centered-content {
    display: inline-block;
    vertical-align: middle;
}

.slider-values {
	display: block;
	color: black;
	font-size: 30px;
	text-align: center;
	font-style: bold;
	margin-left: 5px;
	margin-top: 5px;
}

.slider-label {
	display: block;
	color: black;
	font-size: 20px;
	text-align: center;
	font-style: bold;
	margin-left: 5px;
	margin-top: 5px;
}

.slider {
	margin: 10px 10px 10px 10px;
	background-color: Lightgray;
}